
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root{
    --slider-height:50rem;
    --half-slider-height:calc(var(--slider-height)/2)
}
*{
    margin: 0;;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
p{
    color:#DBDBDB;
    font-weight: 600;
}
.offer p{
   margin: 0 auto;
}
.offer p{
    width: 50%;
    text-align: center;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
   overflow-x: hidden;
  }
  .maincontainer>div{
    padding-bottom: 1rem;
  } 
.logo{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}
.logo h6{
    font-size: large;
    display: inline;
}
.logo span{
    font-size: large;
    font-weight: 700;
}
.inquiry{
    width: 100%;
    display: flex;
}
hr{
    width: 90%;
    margin: 0 auto;
}
.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100vw;
padding-top: 1rem;



}

.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 1rem;
}
.active{
   
    color: black;
    font-weight: 700;
   
}
.sideicon{
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.feedback{
   

    display: flex;
   
    justify-content: space-between;
    
}
.submain{
    padding: 1rem;
}
.hamburger{
    display: none;
}
.wrapper li {
list-style: none;
}
.slides{
    width: 12vw;
    object-fit: cover;
}
.slides img{
    width: 90%;
    border-radius: 60%;
  
}
.wrapper{

    width: 90%;
    height: 100%;
    border:1px solid black;
   
}
.flex{
    display: flex;
    justify-content: center;
}
.collection,.offer{
    margin: 0 auto;
    text-align: center;
}
.explore{
    margin: 0 auto;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    text-align: center;
    width: 12rem;
    height: 3rem;
    font-size: 20px;
    font-weight: 200;
    border-radius: 2rem;
}
.description{
    width: 50%;
    margin: auto;
}
.description2{
    width: 60%;
    margin: auto;
}
.sample{
    background: #F7B79D;
   margin-top: 150px;
   height: 30vh;
}
.design{
    margin-top: -100px;
}
.design li {
    list-style: none;
    }
    .image{
        width: 20vw;
        
       object-fit: cover;
    }
    .image img{
        width: 90%;
    }
    .design{
        display: flex;
        flex-direction: row;
    }
    .imageslider{
        width: 100vw;
        height: 200%;
        background: yellow;
    }
    .contactus{
        display: flex;
        flex-direction: row;
        padding: 2rem;
        height: 30rem;
    
    }
    .left{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        width: 50%;
    }
    .left input{
        border:none;
        height: 10%;
        width: 50%;
        border-bottom: 0.5px solid grey;
    }
    .left p{
        width: 50%;
        
    }
    .right{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
    }
    .right img{
        width: 46%;
        height: 100%;
    }
    .right .imagerow2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .right .imagerow1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer{
        text-align: center;
        background-color:#F9F9F9
    }
    .footer .logo div{
        font-size: x-large
    }
    .footer .logo{
        display: flex;
        flex-direction: column;
    }
    .logo hr{
        margin-bottom: 1rem;
    }
    .footer div{
        margin-bottom: 2%;
    }
    .footer .logo p{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .bottomlink{
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin:  0 auto;
    }
    .bottomlink a{
        text-decoration: none;
     
    }
@media only screen and (max-width: 900px)  {
    .navbar{
     background-color: rgba(0, 0, 0, 0.9);
     color: white; 
     position: absolute;
     display: none;
     
      }
      .navbar .link a{
        color:white
      }
      .show{
        background-color: black;
        color: white; 
     
        margin-top: 500px;
         }
    .maincontainer{
       position: relative;
        top:0;

    }
    .link{
        margin-top: 0;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 1rem;
        }
        .link{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        .hamburger{
            display: block;
        }
        .sideicon{
            display: none;
        }
        
        .footer .logo div{
            font-size: x-large
        }
        .contactus{
            display: flex;
            flex-direction: column;
            padding: 2rem;
            width: 100vw;
            height: 100%;
        
        }
        .left{
            text-align: center;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin-bottom: 10%;
        } 
        .left h2, p,input,button{
            margin-bottom: 1rem;
        }
        .right{
            display:flex;
            flex-direction: column;
            width: 100%
        } 
        .left input{
            border:none;
            height: 2rem;
            width: 80%;
            border-bottom: 0.5px solid grey;
            margin: 0 auto;
        }
        button{
            margin: 2rem auto;
        }
        .left p{
            width: 100%;
            text-align: center;
            
        }
        .right{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            
        }
        .right img{
            width: 80%;
            height: 100%;
            margin:0 auto 1rem auto
        }
        .right .imagerow2{
            display: flex;
            flex-direction: column;
            margin:0 auto 1rem auto
            
        }
        .right .imagerow1{
            display: flex;
            flex-direction: column;
            
        }
        .bottomlink{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 60%;
            text-align:left;     
            margin:  0 auto;
        }
        .bottomlink a{
            text-decoration: none;
            padding: 1rem;
            margin: 0 auto;
    
        }       
        .inquiry{
            opacity: 0;
            
        }
    }